*{
   
   
    box-sizing: border-box;
}

.game-board{
    background-image:url(/myLawn.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-self: baseline;
  
}

 
.mole-land{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    
    /* background-image: linear-gradient(to bottom, #485720 -0%, #999966 125%) */
}

.mole-land > div {
    position: relative;
    overflow: hidden;
    scale: 50%;
    background-color: transparent;
    
}
.mound{
    z-index: 1;
    position: absolute;
    width: 300px;
    bottom: -15px;
}
.finMole:hover{
    transform: rotate(0deg);
    bottom:15px;
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: 3;

}
.finMole {
    transition: .5s ease;
    transform: rotate(-90deg);
    bottom:-100px;
    position: absolute;
    width: 100%;
    height: 70%;
}

button{
    background-image: linear-gradient(to bottom, #485720 -0%, #999966 125%);
    width: 200px;
    height: 75px;
    border-radius: 50*2%;
    background-color: rgb(110, 197, 107);
}



